body{
  background-color:Black;
  text-align:center;
    color:White;
    font-family:Verdana;

}

h1{
  font-weight:normal;
  font-size:50px;

}

h2{
  font-weight:300;
  font-size:42px;
}

.greenLink{
    color:Aquamarine;
    Font-size:16px;
}

.intro{
  font-size:21px;
  color:gray;
}

.brand{
  text-align:right;
  color:gray;
}
